<div class="masthead clearfix" class="header">
  <div class="inner">
<!--     <h3 class="masthead-brand">Femmes du Morillon</h3>
 -->    <ul class="nav masthead-nav">
      <li class="active"><a href="/">Accueil</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ce que nous faisons <b class="caret"></b></a>                <ul class="dropdown-menu">
        <li><%= link_to "Atelier cuisine",    '/pages/atelier_cuisine' %></li>
        <li><%= link_to "Atelier couture",    '/pages/atelier_couture' %></li>
      </ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evenements <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Sortie",    '/pages/sortie' %></li>
          <li><%= link_to "Fete du quartier",    '/pages/fete_du_quartier' %></li>
        </ul>
        <li><%= link_to "Contact",    '/pages/contact' %></li>
      </div>
    </div>




